.outercard {
  padding-top: 16px;
  padding-bottom: 12px;
}
.textarea {
  outline: none;
  border: none;
  height: 80px;
  border-radius: 4px;
  padding-left: 8px;
  margin-left: 4px;

  width: 180px;
}
.card {
  display: flex;
  cursor: pointer;
}
.plus_icon {
  padding-top: 4px;
  padding-left: 8px;
  padding-right: 4px;
  color: grey;
}
.text {
  color: grey;
}
