.btn {
  border: none;
  background-color: #dadada;
  color: grey;
  display: flex;
  width: 200px;
  height: 40px;
  padding-top: 12px;
  border-radius: 4px;
  margin-left: 8px;
}
.icon {
  padding-right: 4px;
  padding-left: 4px;
}
.bg {
  margin-left: 4px;
  background-color: #dadada;
  border-radius: 4px;
}
.textarea {
  cursor: pointer;
  align-items: center;
  border-radius: 4px;
  padding: 8px;
  margin: 8px;
  outline: no;
}
.form {
  display: flex;
}
.cross {
  padding-top: 4px;
  padding-left: 8px;
}
