.container {
  display: flex;
  padding-left: 8px;
  cursor: pointer;
}
.icon {
  flex-grow: 1;
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 8px;
}
.form {
  display: flex;
}
.input {
  width: 100%;
}
