.container {
  background-color: #dadada;
  width: 15rem;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  margin-left: 8px;
}
.title {
  padding-left: 8px;
  margin: 8px;
  cursor: pointer;
  word-break: break-all;
}
.editform {
  display: flex;
  margin-bottom: 4px;
}
.editListForm {
  margin-top: 8px;
  margin-left: 8px;
  width: 100%;
  padding: 4px;
  border: none;
  outline-color: aqua;
}
.deleteicon {
  font-size: 20px;
  padding-top: 8px;
  padding-left: 4px;
  padding-right: 8px;
}

.trello-headline {
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-bottom: 20px;
}

.trello-headline-text {
  color: white;
}

.trello-list-container {
  display: flex;
  overflow-x: scroll;
  padding-bottom: 400px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.trello-list-container::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 640px) {
  .container {
    width: 300px;
  }
}
